.container{
    width: 450px;
    margin: 0 auto;
    margin-top: 10%;
}
h1{
    text-align: center;
    margin-top:15px;
}
form{
    display:grid;
}
button{
    margin: auto;
    width: 15%;
}
ul{
    text-align: center;
   
}
table{
    margin:auto;
    width:50%;
}
tr{
    border:solid;
}
